/* /////////////////////////////////////////////
    Subj: Coding Dojo > Web Fundamentals > CSS
    Setting Up Projects
    By: Virgilio D. Cabading Jr.
    October 11, 2021
    //////////////////////////////////////////////*/

h1 {
    color: rebeccapurple;
    font-size: 50px;
}

input {
    padding: 5px;
    border-color: rebeccapurple;
}
input[type="text"] {
    border: none;
    border-bottom: 2px solid rebeccapurple;
}
input[type="submit"] {
    color: white;
    background-color: rebeccapurple;
}

body {
    background-image: url(https://i.pinimg.com/originals/bc/ff/4b/bcff4b224eaf8eb9c464f9435b4e9ef4.jpg);
}